
//To center the three items in the navbar
nav .container {
	width: 600px;
}

#myNavBar {
	margin: 0 auto;
   	border-top-right-radius: 0px;
  	border-top-left-radius: 0px;
  	border-bottom-right-radius: 30px;
  	border-bottom-left-radius: 30px;
  	display: inline-block;
  	float: none;
  	text-align: center;
  	font-size: 20px;
  	width: 600px;
}

//override bootstrap
.navbar-nav>li {
 	float: none; 
}

.navbar-nav {
	float: none;
}

.nav>li {
	display: inline-block;
}